<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VUE | DEMO</title>
</head>

<body>

  <div id="root"></div>

  <script type="text/x-template" id="root-template">
    <div class="wrapper">
      <!-- <pre>{{test}}</pre> -->
      <!-- <input type="text"  v-model="test"> -->
      <!-- <input type="text" 
        :value="test" 
        @input="test = $event.target.value"
      >
      <hr> -->

      <pre>{{myText}}</pre>

      <input-comp v-model="myText" />
      <hr>

      <pre>{{yesNo}}</pre>
      <checkbox v-model="yesNo" />
      <hr>        

      <pre>{{group}}</pre>
      <group v-model="group"/>
      <hr>        

      <pre>{{radio}}</pre>
      <radio v-model="radio" />
      <hr>        
    </div>
  </script>

  <script type="text/x-template" id="input-comp">
    <div class="wrapper">
      <input type="text" 
        :value="value" 
        @input="$emit('nonInput', $event.target.value)"
      />
    </div>
  </script>

  <script type="text/x-template" id="checkbox">
    <div class="wrapper">
      <input type="checkbox" 
        :checked="value"
        @change="$emit('change', $event.target.checked)"
      />
    </div>
  </script>

  <script type="text/x-template" id="group">
    <div class="wrapper">
      <div>
        <label>
          <span>red</span>
          <input value="red" v-model="inner" @change="handleChange" type="checkbox">
        </label>
      </div>
      <div>
        <label>
          <span>green</span>
          <input value="green" v-model="inner" @change="handleChange" type="checkbox">
        </label>
      </div>
      <div>
        <label>
          <span>blue</span>
          <input value="blue" v-model="inner" @change="handleChange" type="checkbox">
        </label>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="radio">
    <div class="wrapper">
      <div v-for="control in controls">
        <label>
          <span>{{control}}</span>
          <input 
            :checked="value === control"
            :value="control" 
            name="payment" 
            @change="handleChange" 
            type="radio"
          >
        </label>
      </div>
    </div>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
    integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
    crossorigin="anonymous"></script>
  <script src="./main.js"></script>
</body>
</html>